# Version of Drone CI, see other versions here: https://hub.docker.com/r/drone/drone/tags/
drone_version: 0.7

# List of users with admin access to the drone, readme more: http://docs.drone.io/user-management/
drone_admins: "minhhai8x"

# Name of the docker agent container, you can add more than one agent
drone_agents: [{name: "Main-Agent"}]

# the url, where drone instance will be publicly available
# typically you would have nginx in front of Drone CI
drone_host:

# Drone secret key, used for private communication between agent and web UI
# more info: http://docs.drone.io/install-for-github/
drone_secret: abc123456789xyz

# Github oauth application client identifier, more info http://docs.drone.io/install-for-github/
drone_github_client:
# Github oauth application client secret, more info http://docs.drone.io/install-for-github/
drone_github_secret:

# Version of PostgresSQL
drone_postgress_version: 9.6.1
# A password to postgress db used by drone
drone_postgress_password: secret
# A username to postgress db used by drone, read more: http://docs.drone.io/database-settings/
drone_postgress_user: homestead
# A name of to postgress db used by drone, read more: http://docs.drone.io/database-settings/
drone_postgress_db: homestead
# a directory on a host machine, where postgresql data stored
drone_postgress_data_dir: /drone-postgres-data

# Internal drone ui http url used by nginx to proxy traffic. For example: http://localhost:8000
nginx_drone_internal_host: http://localhost:8000